body {
  

    font-family: "Felipa", serif;
    width: 600px;
    margin: 40 px auto;
    background-image: url(image/Wole-Soyinka-silhouette.png);
    color: black;
    
background-color: rgb(255, 255, 255);
}

blockquote {
    
    font-size:2em;
    line-height:2em;
}   

    a:link { color: rgb(137, 125, 134); }
    a:visited {color:brown}
    a:hover , a:focus {color:blue}
    a:active {color:blueviolet}    

    img {

        max-width: 100%;
        width:auto;
        height:auto;

    }

    figure {
        max-height: 90vh;
    }

    .poem-body {
  display: block;
  max-width: 600px;
  margin: 20px auto;
  text-align: center
  font-size: 18px;
  color: #333;  
  line-height: 1.6;
}